body{
    text-align:center;
    background-color:lightblue;
    background-image: url(./background.jpeg);
    background-attachment: fixed;
    margin-bottom:50px;
}
h1{
    font-size: 16px;
    font-family: 'Major Mono Display', monospace;
}